    body{

        background-color: rgb(219, 127, 255);
        color: black;
    }

    h1{

        font-size: 20px;
    }

    h2{

        font-size: 20px; 
}

    
    
p{
        font-size: 10px;
    }